@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #3a1a60;
  --color-secondary: #c2abb2;
  --color-secondary-dark: #16151b;
  --color-accent: #b19993;
  --color-white: #f8f9fa;
  --color-black: #212529;
  --color-gray-50: #f8f9fa;
  --color-gray-100: #f1f3f5;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #868e96;
  --color-gray-700: #495057;
  --color-gray-700: #343a40;
  --color-gray-900: #212529;
  --color-gray-950: #212529;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
    vertical-align: baseline;
  }
}

@layer base {
  @font-face {
    font-family: "CabinetGrotesk Variable";
    src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
  }

  html {
    font-family: "CabinetGrotesk Variable", system-ui, sans-serif;
  }
  header,
  body {
    @apply bg-gray-50 dark:bg-gray-950;
  }
  footer {
    @apply bg-gray-950 dark:bg-gray-700;
  }
  .wrapper {
    @apply mx-auto container px-4 sm:px-6 lg:px-8;
  }
  .card-container {
    @apply border border-gray-300 bg-gray-100 rounded;
  }
  .navigation-links {
    @apply capitalize text-base leading-7 hover:underline hover:cursor-pointer transition-all underline-offset-4;
  }
  .display-3 {
    @apply scroll-m-20 capitalize text-5xl leading-[1.25] font-extrabold text-balance text-gray-950 dark:text-gray-50;
  }
  .h1 {
    @apply scroll-m-20 text-4xl font-extrabold text-balance text-gray-950 dark:text-gray-50;
  }
  .h2 {
    @apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold transition-colors first:mt-0 text-gray-950 dark:text-gray-50;
  }
  .h3 {
    @apply mt-8 scroll-m-20 text-2xl font-semibold text-gray-950 dark:text-gray-50;
  }
  .body-lead {
    @apply text-xl font-normal text-gray-950 dark:text-gray-50;
  }
  .body-large {
    @apply text-lg font-semibold text-gray-950 dark:text-gray-50;
  }
  .body-medium {
    @apply text-base leading-7 font-semibold text-gray-950 dark:text-gray-50;
  }
  .body-small {
    @apply text-sm leading-none font-medium text-gray-950 dark:text-gray-50;
  }
}
